.goods-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    padding: 20px;
    margin-left: 220px; 
    max-width: 1200px;
    box-sizing: border-box;
    transition-duration: 1s;
}
  
.side-menu.collapsed + .goods-list {
  margin-left: 60px; 
}